In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
header_2024 = ['lastname', 'firstname', 'middlename', 'namesuffix', 'raddnumber', 
               'rhalfcode', 
               'rpredirection', 'rstreetname', 'rpostdirection', 
               'rapartmenttype', 'rapartment', 'raddrnonstd', 
               'rcity', 'rzip5', 'rzip4', 'mailadd1', 'mailadd2', 
               'mailadd3', 'mailadd4', 'dob', 'gender', 'enrollment', 'otherparty', 'countycode', 
               'ed', 'ld', 'towncity', 'ward', 'cd', 'sd', 'ad', 'lastvoteddate', 'prevyearvoted', 
               'prevcounty', 'prevaddress', 'prevname', 'countyvrnumber', 'regdate', 'vrsource', 
               'idrequired', 'idmet', 'status', 'reasoncode', 'inact_date', 'purge_date', 'sboeid', 'voterhistory']

df = pd.read_csv('AllNYSVoters_20240529.csv',
                sep=',',
                names = header_2024,
                encoding='ISO-8859-1',
                low_memory= False             # Alternative encoding
                )
df.head()

,lastname,firstname,middlename,namesuffix,raddnumber,rhalfcode,rpredirection,rstreetname,rpostdirection,rapartmenttype,...,regdate,vrsource,idrequired,idmet,status,reasoncode,inact_date,purge_date,sboeid,voterhistory
0,STEILS,BRIAN,S,NaN,6312,NaN,NaN,GREEN VALLEY LN,NaN,NaN,...,19900607.0,CBOE,N,Y,A,NaN,NaN,NaN,NY000000000003306195,NaN
1,JEFFORDS,RYAN,D,NaN,1408,NaN,NaN,ELDERBERRY PL,NaN,NaN,...,19910115.0,CBOE,N,Y,I,NCOA,20220211.0,NaN,NY000000000003306196,NaN
2,OSTROWSKI,JENNIE,M,NaN,7011,NaN,NaN,MONROE ST,NaN,NaN,...,19931202.0,CBOE,N,Y,A,NaN,NaN,NaN,NY000000000003306198,2022 General Election(P);2022 Primary Election...
3,KINDZIA,JULIE,D,NaN,507,NaN,NaN,87TH ST,NaN,NaN,...,19961209.0,CBOE,N,Y,A,NaN,NaN,NaN,NY000000000003306199,NaN
4,MARTIN,ANDRE,NaN,NaN,538,NaN,NaN,PORTAGE RD,NaN,NaN,...,19960524.0,CBOE,N,Y,A,NaN,NaN,NaN,NY000000000003306201,2023 General Election(P);2020 General Election...

In [4]:
# change the order of columns - 2024
new_order = ['lastname', 'firstname', 'middlename', 'namesuffix', 'raddnumber', 
            'rhalfcode', 
            'rapartment', 
            'rpredirection', 'rstreetname', 'rpostdirection', 
            'rcity', 'rzip5', 'rzip4', 'mailadd1', 'mailadd2', 
            'mailadd3', 'mailadd4', 'dob', 'gender', 'enrollment', 'otherparty', 'countycode', 
            'ed', 'ld', 'towncity', 'ward', 'cd', 'sd', 'ad', 'lastvoteddate', 'prevyearvoted', 
            'prevcounty', 'prevaddress', 'prevname', 'countyvrnumber', 'regdate', 'vrsource', 
            'idrequired', 'idmet', 'status', 'reasoncode', 'inact_date', 'purge_date', 'sboeid', 'voterhistory', 
            'rapartmenttype', 'raddrnonstd', ]

df_24_reordered = df[new_order]
df_24_reordered.head()

,lastname,firstname,middlename,namesuffix,raddnumber,rhalfcode,rapartment,rpredirection,rstreetname,rpostdirection,...,idrequired,idmet,status,reasoncode,inact_date,purge_date,sboeid,voterhistory,rapartmenttype,raddrnonstd
0,STEILS,BRIAN,S,NaN,6312,NaN,NaN,NaN,GREEN VALLEY LN,NaN,...,N,Y,A,NaN,NaN,NaN,NY000000000003306195,NaN,NaN,NaN
1,JEFFORDS,RYAN,D,NaN,1408,NaN,NaN,NaN,ELDERBERRY PL,NaN,...,N,Y,I,NCOA,20220211.0,NaN,NY000000000003306196,NaN,NaN,NaN
2,OSTROWSKI,JENNIE,M,NaN,7011,NaN,NaN,NaN,MONROE ST,NaN,...,N,Y,A,NaN,NaN,NaN,NY000000000003306198,2022 General Election(P);2022 Primary Election...,NaN,NaN
3,KINDZIA,JULIE,D,NaN,507,NaN,NaN,NaN,87TH ST,NaN,...,N,Y,A,NaN,NaN,NaN,NY000000000003306199,NaN,NaN,NaN
4,MARTIN,ANDRE,NaN,NaN,538,NaN,NaN,NaN,PORTAGE RD,NaN,...,N,Y,A,NaN,NaN,NaN,NY000000000003306201,2023 General Election(P);2020 General Election...,NaN,NaN

In [3]:
header_2020 = ['lastname', 'firstname', 'middlename', 'namesuffix', 'raddnumber', 
               'rhalfcode', 
               'rapartment', 
               'rpredirection', 'rstreetname', 'rpostdirection', 
               'rcity', 'rzip5', 'rzip4', 'mailadd1', 'mailadd2', 'mailadd3', 'mailadd4', 
               'dob', 'gender', 'enrollment', 'otherparty', 'countycode', 'ed', 'ld', 'towncity',
               'ward', 'cd', 'sd', 'ad', 'lastvoteddate', 'prevyearvoted', 'prevcounty', 
               'prevaddress', 'prevname', 'countyvrnumber', 'regdate', 'vrsource', 'idrequired', 
               'idmet', 'status', 'reasoncode', 'inact_date', 'purge_date', 'sboeid', 'voterhistory']

df_2020 = pd.read_csv('AllNYSVoters_20201116.txt', 
                    sep=',', 
                    encoding='latin-1',
                    low_memory= False,
                    names = header_2020)
df_2020.head()

,lastname,firstname,middlename,namesuffix,raddnumber,rhalfcode,rapartment,rpredirection,rstreetname,rpostdirection,...,regdate,vrsource,idrequired,idmet,status,reasoncode,inact_date,purge_date,sboeid,voterhistory
0,SEXTON,COLLEEN,M,NaN,703,NaN,NaN,NaN,WURLITZER DR,NaN,...,19890413,CBOE,N,Y,PURGED,MOVED,NaN,20140611.0,NY000000000003306194,2012 General Election;2010 General Election;20...
1,STEILS,BRIAN,S,NaN,6312,NaN,NaN,NaN,GREEN VALLEY LN,NaN,...,19900607,CBOE,N,Y,ACTIVE,NaN,NaN,NaN,NY000000000003306195,NaN
2,JEFFORDS,RYAN,D,NaN,1408,NaN,NaN,NaN,ELDERBERRY PL,NaN,...,19910115,DMV,N,Y,ACTIVE,NaN,NaN,NaN,NY000000000003306196,NaN
3,SINDONI,ANTHONY,M,NaN,9257,NaN,NaN,NaN,COLEMAN RD,NaN,...,19930226,MAIL,N,Y,INACTIVE,MAILCHECK,20150805.0,NaN,NY000000000003306197,2012 General Election;2012 Presidential Primar...
4,OSTROWSKI,JENNIE,M,NaN,7011,NaN,NaN,NaN,MONROE ST,NaN,...,19931202,CBOE,N,Y,ACTIVE,NaN,NaN,NaN,NY000000000003306198,2020 General Election;2019 General Election;20...

In [6]:
# add 2 columns to match 2024
df_2020['rapartmenttype'] = np.nan
df_2020['raddrnonstd'] = np.nan

df_2020.head()

,lastname,firstname,middlename,namesuffix,raddnumber,rhalfcode,rapartment,rpredirection,rstreetname,rpostdirection,...,idrequired,idmet,status,reasoncode,inact_date,purge_date,sboeid,voterhistory,rapartmenttype,raddrnonstd
0,SEXTON,COLLEEN,M,NaN,703,NaN,NaN,NaN,WURLITZER DR,NaN,...,N,Y,PURGED,MOVED,NaN,20140611.0,NY000000000003306194,2012 General Election;2010 General Election;20...,NaN,NaN
1,STEILS,BRIAN,S,NaN,6312,NaN,NaN,NaN,GREEN VALLEY LN,NaN,...,N,Y,ACTIVE,NaN,NaN,NaN,NY000000000003306195,NaN,NaN,NaN
2,JEFFORDS,RYAN,D,NaN,1408,NaN,NaN,NaN,ELDERBERRY PL,NaN,...,N,Y,ACTIVE,NaN,NaN,NaN,NY000000000003306196,NaN,NaN,NaN
3,SINDONI,ANTHONY,M,NaN,9257,NaN,NaN,NaN,COLEMAN RD,NaN,...,N,Y,INACTIVE,MAILCHECK,20150805.0,NaN,NY000000000003306197,2012 General Election;2012 Presidential Primar...,NaN,NaN
4,OSTROWSKI,JENNIE,M,NaN,7011,NaN,NaN,NaN,MONROE ST,NaN,...,N,Y,ACTIVE,NaN,NaN,NaN,NY000000000003306198,2020 General Election;2019 General Election;20...,NaN,NaN

In [7]:
# merging them together

df_20_24 = pd.concat([df_2020, df_24_reordered])
df_20_24.tail()

,lastname,firstname,middlename,namesuffix,raddnumber,rhalfcode,rapartment,rpredirection,rstreetname,rpostdirection,...,idrequired,idmet,status,reasoncode,inact_date,purge_date,sboeid,voterhistory,rapartmenttype,raddrnonstd
13265594,MORALES,GYSEL,NaN,NaN,27,NaN,B,NaN,W FUNSTON AVE,NaN,...,N,Y,17,NaN,NaN,NaN,NY000000000063652443,NaN,APT,NaN
13265595,RIVERA,PAIGE,I,NaN,52,NaN,NaN,NaN,PINEBROOK RD,NaN,...,N,Y,17,NaN,NaN,NaN,NY000000000063652444,NaN,NaN,NaN
13265596,DUROSIER,ALDALOURDE,NaN,NaN,500,NaN,61,NaN,E FUNSTON AVE,NaN,...,N,Y,17,NaN,NaN,NaN,NY000000000063652445,NaN,APT,NaN
13265597,THEAGENE,MARCUS,G,NaN,8,NaN,NaN,NaN,TURNER CT,NaN,...,N,Y,17,NaN,NaN,NaN,NY000000000063652447,NaN,NaN,NaN
13265598,FIGUEROA GONZALEZ,BRANDON,NaN,NaN,12,NaN,NaN,NaN,PAULINE CT,NaN,...,N,Y,17,NaN,NaN,NaN,NY000000000063652446,NaN,NaN,NaN

In [ ]:
len(df_2020) + len(df_24_reordered)

# 2020: 20179326
# 2024: 13265599

33444925

In [8]:
len(df_20_24)

33444925

In [11]:
# reorder the columns to the original order

old_order = ['lastname', 'firstname', 'middlename', 'namesuffix', 'raddnumber', 
               'rhalfcode', 
               'rpredirection', 'rstreetname', 'rpostdirection', 
               'rapartmenttype', 'rapartment', 'raddrnonstd', 
               'rcity', 'rzip5', 'rzip4', 'mailadd1', 'mailadd2', 
               'mailadd3', 'mailadd4', 'dob', 'gender', 'enrollment', 'otherparty', 'countycode', 
               'ed', 'ld', 'towncity', 'ward', 'cd', 'sd', 'ad', 'lastvoteddate', 'prevyearvoted', 
               'prevcounty', 'prevaddress', 'prevname', 'countyvrnumber', 'regdate', 'vrsource', 
               'idrequired', 'idmet', 'status', 'reasoncode', 'inact_date', 'purge_date', 'sboeid', 'voterhistory']

df_20_24_comb = df_20_24[old_order]
df_20_24_comb.head()

,lastname,firstname,middlename,namesuffix,raddnumber,rhalfcode,rpredirection,rstreetname,rpostdirection,rapartmenttype,...,regdate,vrsource,idrequired,idmet,status,reasoncode,inact_date,purge_date,sboeid,voterhistory
0,SEXTON,COLLEEN,M,NaN,703,NaN,NaN,WURLITZER DR,NaN,NaN,...,19890413.0,CBOE,N,Y,PURGED,MOVED,NaN,20140611.0,NY000000000003306194,2012 General Election;2010 General Election;20...
1,STEILS,BRIAN,S,NaN,6312,NaN,NaN,GREEN VALLEY LN,NaN,NaN,...,19900607.0,CBOE,N,Y,ACTIVE,NaN,NaN,NaN,NY000000000003306195,NaN
2,JEFFORDS,RYAN,D,NaN,1408,NaN,NaN,ELDERBERRY PL,NaN,NaN,...,19910115.0,DMV,N,Y,ACTIVE,NaN,NaN,NaN,NY000000000003306196,NaN
3,SINDONI,ANTHONY,M,NaN,9257,NaN,NaN,COLEMAN RD,NaN,NaN,...,19930226.0,MAIL,N,Y,INACTIVE,MAILCHECK,20150805.0,NaN,NY000000000003306197,2012 General Election;2012 Presidential Primar...
4,OSTROWSKI,JENNIE,M,NaN,7011,NaN,NaN,MONROE ST,NaN,NaN,...,19931202.0,CBOE,N,Y,ACTIVE,NaN,NaN,NaN,NY000000000003306198,2020 General Election;2019 General Election;20...

In [13]:
# df_20_24_comb.to_csv('merged_voter_data_20_24.csv', encoding='utf-8', index=False)

In [ ]:
# the only duplicate row

In [14]:
duplicates = df_20_24_comb.duplicated()

In [17]:
num_duplicates = duplicates.sum()
print(num_duplicates)

duplicate_rows = df_20_24_comb[duplicates].isna()
print(duplicate_rows)

1
         lastname firstname middlename namesuffix raddnumber rhalfcode  \
13265554      NaN       NaN        NaN        NaN        NaN       NaN

         rpredirection rstreetname rpostdirection rapartmenttype  ... regdate  \
13265554           NaN         NaN            NaN            NaN  ...     NaN

         vrsource idrequired  idmet status reasoncode inact_date purge_date  \
13265554      NaN        NaN    NaN    NaN        NaN        NaN        NaN

         sboeid  voterhistory
13265554    NaN           NaN

[1 rows x 47 columns]

In [22]:
duplicates = df_24_reordered.duplicated()

In [24]:
num_duplicates = duplicates.sum()
print(num_duplicates)

duplicate_rows = df_24_reordered[duplicates].isna()
print(duplicate_rows)

1
          lastname  firstname  middlename  namesuffix  raddnumber  rhalfcode  \
13265554      True       True        True        True        True       True

          rapartment  rpredirection  rstreetname  rpostdirection  ...  \
13265554        True           True         True            True  ...

          idrequired  idmet  status  reasoncode  inact_date  purge_date  \
13265554        True   True    True        True        True        True

          sboeid  voterhistory  rapartmenttype  raddrnonstd
13265554    True          True            True         True

[1 rows x 47 columns]

In [ ]:
# expect a large number of null values